.art {
  height: 20rem;
  background-attachment: local;
  background-image: url("../images/ailabs.jpg");
  background-position: 12px;
}

.pages {
  margin-bottom: 2rem;
}

.pages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: -5rem;
  margin-bottom: -2rem;
}

a {
  text-decoration: none !important;
}

.camera {
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}

.card {
  border: 0;
  box-shadow: 4px 0 10px #000000;
  padding: 10px;
}

.ailabslist ul li {
  font-size: larger;
}

.ailabslist ul li a {
  color: #000;
}
