.art {
  height: 20rem;
  background-attachment: local;
  background-image: url("../images/data_preparation.jpg");
}

.pages {
  margin-bottom: 2rem;
}

.pages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: -5rem;
  height: 1500px;
}

.data {
  width: 1200px;
  height: fit-content;
  overflow-y: scroll;
  margin-top: 80px;
  text-align: left;
}

.data::-webkit-scrollbar {
  display: none;
}

#classify {
  background-image: url("../images/datap1.jpg");
  font-weight: 500;
  text-shadow: 2px 0px 10px #ffffff;
  text-align: justify;
  height: 50vh;
  color: #ffffff;
  border-radius: 12px;
  box-shadow: 2px 0 10px #000000;
}

#annotate {
  background-image: url("../images/annotate.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: 500;
  color: #ffffff;
  text-shadow: 2px 0px 10px #000000;
  text-align: justify;
  height: 50vh;
  border-radius: 12px;
  box-shadow: 2px 0 10px #000000;
}

#transcribe {
  background-image: url("../images/transcribe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: 500;
  color: #ffffff;
  text-shadow: 2px 0px 10px #000000;
  text-align: justify;
  height: 50vh;
  background-position: center;
  border-radius: 12px;
  box-shadow: 2px 0 10px #000000;
}

#translate {
  background-image: url("../images/datap3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-weight: 500;
  color: #ffffff;
  text-shadow: 2px 0px 10px #000000;
  text-align: justify;
  height: 50vh;
  border-radius: 12px;
  box-shadow: 2px 0 10px #000000;
}
