body {
  background-color: #d5d5d5;
}

.art {
  height: 35rem;
  background-attachment: local;
  background-image: url("../images/urban1.jpeg");
  background-repeat: no-repeat;
  width: 100%;
}

.pages {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: -5rem;
  height: 1500px;
}

.data {
  width: 1200px;
  height: fit-content;
  overflow-y: scroll;
  margin-top: 80px;
  text-align: left;
}

.data::-webkit-scrollbar {
  display: none;
}

.card {
  border: 0;
  box-shadow: 4px 0 10px #000000;
  padding: 10px;
}

.ailabslist ul li {
  font-size: larger;
}

.ailabslist ul li a {
  color: #000;
  text-decoration: none;
}
