.pages {
  margin-bottom: -5rem;
}
/* vision page */

.contain .vision {
  height: 35rem;
  background-image: url("../images/pexels-kampus-production-6248988.jpg");
  background-size: cover;

  background-attachment: fixed;
}
html {
  font-size: 100%;
}

.vision h1 {
  text-align: center;
  position: relative;
  top: 16rem;
  color: #8490ff;
  text-shadow: 2px 3px 6px black;
  font-size: 6rem;
}

.side {
  margin: 0rem 8rem;
}

.pages {
  height: 31rem;
  margin-top: 3rem;
  font-size: 1.5rem;
}
